:root{
    --url: url('svg1.svg')
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    background-image: var(--url);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: .1px;

}

.card {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 400px;
    height: 300px;
    color: white;

}

.card__title {
    margin-top: 25px;
    text-align: center;
}

.card__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    padding-left: 1em;
    padding-right: 1em;
}

.button-score,
.button-next{
    height: 2em;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    background-color: orange;
    box-shadow: 4px 4px 0px 0px #FF0066 inset;
}

.button-score:disabled,
.button-next:disabled{
    background-color: rgb(246, 193, 94);
    cursor: default;
}
.button-score:disabled::before,
.button-next:disabled:before {
    background-color: rgb(246, 193, 94);
    cursor: default;
}

.button-score{
    position: relative;
    border-radius: 50%;
    font-size: 2em;
    margin-left: .2em;
    padding-right: .35em;
    padding-left: .35em;
}

.button-score:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    background-color: orange;
    z-index: -1;
}

.button-next {
    position: relative;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    left: 29%;
    background-color: orange;
    top: 20px;
    border-radius: 210px;

}

.button-next:before{
    content: "";
    position: absolute;
    border-radius: 210px;
    width: 100%;
    height: 100%;
    left: 4px;
    top: 4px;
    background-color: orange;
    z-index: -1;

}

.card__score-buttons {
    text-align: center;
}
.weather {
    margin-top: 1em;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather__icon {
    border-right: 1px solid black;
    padding-left: 2em;

}

.weather__temp {
    display: flex;
    align-items: center;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-right: 1px solid black;
}

.weather__city{
    margin-left: 1em;
}

.imgsvg1,
.imgsvg2{
    width: 300px;

    position: absolute;
}

.imgsvg1{
    bottom: 0;
    left: 0;
}

.imgsvg2{
    top: 0;
    right: 0;
}